---
layout: case-study
category: cases
permalink: /:categories/:title

title: 'BizCapital'
description: 'March 2017 - December 2017'
cover: '../assets/images/downtown_full.jpg'
overview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus blandit metus a suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.'
role: 'Product Design <br/> User Experience <br/> Front-End Web Development'
---

{% for post in site.categories[page.title] %}

{% include projects.html %}

{% endfor %}
