---
layout: case-study
category: cases
permalink: /:categories/:title

title: 'BizCapital'
date-range: 'March 2017 - December 2017'
description: 'Bridging the gap between lending supply and demand for SMBs in Brazil'

cover: '../assets/images/07-app.png'
cover-thumb: '../assets/images/07-app.png'

overview: 'BizCapital is an online lender that wants to bridge the credit access gap for SMBs. I helped them build and improve many parts of their user experience and customer acquisition.'

role: 'Product Design<br />
Product Strategy<br />
User Experience Research<br />
User Interface Design<br />
Front-End Web Development (HTML & Sass using Bootstrap, Vue.js and Nuxt.js)<br />
Content Strategy'

team: '1 Product Designer<br />
1 Software Architect<br />
1 Back-End Engineer'
---

{% for post in site.categories[page.title] %}

{% include projects.html %}

{% endfor %}
