---
layout: case-study
category: cases
permalink: /:categories/:title

title: 'Inventos Digitais'
date-range: 'September 2016 - February 2017'
description: 'Building the next generation of tech companies in Brazil'

cover: '../assets/images/10-balcao-old.png'
cover-thumb: '../assets/images/10-balcao-old.png'

overview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus blandit metus a suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.'

role: 'User Interface Design<br />
User Experience Research<br />
Project Management'

team: '1 Product Designer<br />
1 Front-End Engineer<br />
1 Back-End Engineer'
---

{% for post in site.categories[page.title] %}

{% include projects.html %}

{% endfor %}
