---
layout: case-study
category: cases
permalink: /:categories/:title

title: 'BizCapital'
date-range: 'March 2017 - December 2017'
description: 'Bridging the gap of SMB Lending supply and demand in Brazil'

cover: '../assets/images/07-app.png'
cover-thumb: '../assets/images/07-app.png'

overview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus blandit metus a suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.'

role: 'Product Design<br />
Product Strategy<br />
User Experience Research<br />
User Interface Design<br />
Front-end Web Development<br />
Content Strategy'

team: '1 Product Manager<br />
1 Product Designer<br />
1 Software Architect<br />
1 Back-End Engineer'
---

{% for post in site.categories[page.title] %}

{% include projects.html %}

{% endfor %}
