<div class="row">
    <div class="col-12">
        <h1 class="text-2-projects">{{ post.title }}</h1>
        <p class="text-5">{{ post.platform }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Summary</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.summary }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="text-3">
            <img alt="" class="img-fluid" src="{{ post.image-summary }}" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Opportunity</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.opportunity }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Goals</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.goals }}</p>
    </div>
</div>

{% if post.painpoints != '' %}

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Painpoints</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.painpoints }}</p>
    </div>
</div>

{% endif %}

{% if post.constraints != '' %}

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Constraints</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.constraints }}</p>
    </div>
</div>

{% endif %}

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Solution</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.solution }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p class="text-3">
            <img alt="" class="img-fluid" src="{{ post.image-summary }}" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <p class="text-1-cases">Takeaways</p>
    </div>
    <div class="col-12 col-lg-8">
        <p class="text-3">{{ post.takeaways }}</p>
    </div>
</div>