{% include header.html %}

<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-1">Case Study</p>
                <h1 class="text-2">{{ page.title }}</h1>
                <p class="text-5 mb-5">{{ page.description }}</p>

                <p class="text-1">Role</p>
                <p class="text-3 mb-5">{{ page.role }}</p>

                <p class="text-1">Overview</p>
                <p class="text-3 mb-5">{{ page.overview }}</p>

                <p class="text-1">Content</p>
                <div class="content">{{ content }}</div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
