{% include header.html %}

<div class="body">
    <div class="container">

        {% include back.html %}

        <div class="row">
            <div class="col-12">
                <h1 class="text-2">{{ page.title }}</h1>
                <p class="text-5">{{ page.date-range }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <img alt="" class="img-fluid" src="{{ page.cover }}" />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-1-cases">Overview</p>
            </div>
            <div class="col-12 col-lg-8">
                <p class="text-3">{{ page.overview }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-1-cases">Overall Roles</p>
            </div>
            <div class="col-12 col-lg-8">
                <p class="text-3">{{ page.role }}</p>
            </div>
        </div>

        {{ content }}

        {% include back.html %}

    </div>
</div>

{% include footer.html %}
