{% include header.html %}

<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-1">Hello</h1>
                <p class="text-2">My name is Felipe.</p>
                <p class="text-2 mb-4">I design and build digital products.</p>
                <p class="text-3">I'm a brazilian product designer based in Rio de Janeiro.
                    Right now I'm working on a series of freelance and personal projects.
                    Before that, I did product design and web development work for
                    <a class="anchor-1" href="https://bizcap.com.br" target="_blank">BizCapital</a> and
                    <a class="anchor-1" href="http://www.inventosdigitais.com.br" target="_blank">Inventos Digitais</a>.
                    I spent five years "entrepreneuring" on the digital publishing industry,
                    so it's not hard to see me doing consulting work and helping authors bring their books to life. I also teach the
                    <a class="anchor-1" href="http://theleanstartup.com/principles" target="_blank">Lean Startup</a> basics to <a class="anchor-1" href="http://www.nespe.com.br/pos-edicao/" target="_blank">future publishers</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-1">Case Studies</h1>
                {% include case-studies.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-1">Get in touch</h1>
                <p class="text-3">You can reach me on
                    <a class="anchor-1" href="https://t.me/felipesotello" target="_blank">Telegram</a>,
                    <a class="anchor-1" href="mailto:fsotello@gmail.com">Email</a> or
                    <a class="anchor-1" href="https://www.linkedin.com/in/felipesotello" target="_blank">Linkedin</a> and also find my resume
                    <a class="anchor-1" href="">here</a>.</p>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
