<div class="row">
    <div class="col-12">
        <h1 class="text-1">Get in touch</h1>
        <p class="text-3">
            You can reach me on
            <a class="anchor-1" href="https://t.me/felipesotello" target="_blank">Telegram</a>,
            <a class="anchor-1" href="mailto:fsotello@gmail.com">Email</a> or
            <a class="anchor-1" href="https://www.linkedin.com/in/felipesotello" target="_blank">Linkedin</a>.
            <!--and also find my resume <a class="anchor-1" href="{{ site.url }}/resume">here</a>.-->
        </p>
    </div>
</div>