<div class="row">
    <div class="col-12">
        <h1 class="text-1">Hello</h1>
        <p class="text-2">My name is Felipe.</p>
        <p class="text-2 mb-4">I design and build web products.</p>
        <p class="text-3 mb-4">I'm a Product Designer based in Rio de Janeiro.
            Right now I'm leading user experience at JuryVox.<br />
            Before that, I did product design and web development work for
            <a class="anchor-1" href="https://bizcap.com.br" target="_blank">BizCapital</a> and
            <a class="anchor-1" href="http://www.inventosdigitais.com.br" target="_blank">Inventos Digitais</a>.
            I spent five years in the publishing industry,
            so it's not hard to see me doing consulting work, helping authors bring their books to life.<br />
            I also teach the Lean Startup principles to
            <a class="anchor-1" href="http://www.nespe.com.br/aula/start-up-enxuta/" target="_blank">future publishers</a>.</p>
         <!--<p class="text-3">I'm currently {% include tag-unavailable.html %} for new projects.</p>-->
    </div>
</div>